<my-links></my-links>
<div class="col-md-10 col-md-offset-1">
<h1 class="text-center">Schedule!</h1>
<span *ngIf="isManager">
        <a class="text-danger"  (click)="confirmDelete()">Delete all Shifts</a>
        <br><br>
</span>
<div class="container">
    <div class="row">
        <div class="col-xl-2"   *ngFor="let day of sweek1; let j = index;">
            <span *ngIf="j != 0">
                    <span *ngFor="let d of day; let i = index;">
                        <span *ngIf="i == 1">
                                <h3 *ngIf="i == 1">{{d.day}}</h3>
                                <span *ngIf="isManager">
                                    <a class="text-danger"  (click)="deleteShiftDay(d.week, d.day)">Delete Shifts For Day</a>
                                </span>
                        </span>    
                        
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <th>Employee</th>
                            <th>Start Time</th>
                        </thead>
                        
                        <tr *ngFor="let shift of day">
                            <td style="border:1px solid black">{{shift.firstname}} {{shift.lastname}}
                                <span *ngIf="isManager">
                                    <a class="text-danger"  (click)="deleteShift(shift.shiftId)">Delete</a>
                                </span>
                            </td>
                            <td style="border:1px solid black">{{shift.startTime}}</td>
                            
                        </tr>
                    
                        
                    </table>
            </span>
            
        </div>
        <div class="col-xl-2"   *ngFor="let day of sweek2; let j = index;">
            <span *ngIf="j != 0">
                    <span *ngFor="let d of day; let i = index;">
                            <h3 *ngIf="i == 1">{{d.day}}</h3>
                    </span>
                    <table class="table table-hover">
                        <thead>
                            <th>Employee</th>
                            <th>Start Time</th>
                        </thead>
                        
                        <tr *ngFor="let shift of day">
                            <td style="border:1px solid black">{{shift.firstname}} {{shift.lastname}}
                                <span *ngIf="isManager">
                                    <a class="text-danger"  (click)="deleteShift(shift.shiftId)">Delete</a>
                                </span>
                            </td>
                            <td style="border:1px solid black">{{shift.startTime}}</td>
                            
                        </tr>
                    
                        
                    </table>
            </span>
            
        </div>
    </div>
        
</div>
</div>